* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --purple-color: #ad28eb;
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
}

html {
    font-size: 16px;
    font-family: "Work Sans" sans-serif;
    background: url(Resources/assets/images/background-pattern-desktop.svg) var(--light-pink) no-repeat;
    background-size: 100%;
}

/* style the card */
.card {
    display: block;
    margin: 160px auto;
    background-color: #fff;
    border-radius: 10px;
    max-width: 500px;
    padding: 15px 20px 0;
}

.card .title {
    display: flex;
    flex-direction: row;
    color: var(--dark-purple);
    margin: 15px 0;
    font-weight: 700;
    font-size: 20px;
}

.card .title img {
    margin-right: 10px;
}

/* style the button that are used to open and close the accordion panel */
.card .main-content .faqs-bnt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card .main-content .faqs-bnt button {
    color: var(--dark-purple);
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    transition: 0.5s;
}

/* change color of buttons on hover */
.card .main-content .faqs-bnt button:hover {
    color: var(--purple-color);
}

/* style the accordion panel  */
.card .main-content .panel {
    color: var(--grayish-purple);
    font-weight: 400;
    margin: 15px 0;
    border-bottom: 1px soild var(--light-pink);
    height: 0;
    overflow: hidden;
}

.card .main-content .panel p {
    margin-bottom: 15px;
}

.minus-icon {
    display: none;
    transition: 0.5s;
}

/* style javascript */
.card .panel.active {
    height: 100%;
}

.card .minus-icon.active {
    display: block;
}

.card .plus-icon.active {
    display: none;
}

/* Responsive to the width of the mobile */
@media (max-width: 375px) {
   html {
    background: url(Resources/assets/images/background-pattern-mobile.svg) var(--light-pink) no-repeat;
    padding: 0 20px;
   } 

   .card .title {
    font-size: 16px;
   }

   .card .main-content .faqs-bnt button {
    font-size: 15px;
    max-width: 80%;
   }
}